# Drivers read firmware files (/firmware/image, /vendor/firmware/wlan/prima)
allow ueventd { radio_efs_file wifi_data_file }:file r_file_perms;
allow ueventd { radio_efs_file wifi_data_file }:dir search;

allow ueventd rmt_device:chr_file rw_file_perms;
allow ueventd oncrpc_device:chr_file create_file_perms;
allow ueventd oncrpc_device:dir create_dir_perms;
